#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.container-pics {
  width: 100%;
  margin:auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.pic-image {
  margin-top: 1em;
  border-style:double;
  border-width: 5px;
}

.pic-description {
  margin: auto;
  width: 25%;
  background-color:aquamarine;
  padding: 1rem;
  border-width: 5px;
  border-radius: 4em;
  border-color:rgb(103, 27, 175);
  border-style:dotted;
}

.delete-pic {
  margin: auto;
  margin-top: 1em;
  color: red;
  width: 8%;
  text-align: center;
  background-color: lightsalmon;
  border-radius: 4em;
  border-width: 3px;
  border-style: groove;
}

.delete-pic:hover {
  cursor: pointer;
}
