#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.container-pics {
  width: 100%;
  margin:auto;
  margin-left: 2rem;
  margin-right: 2rem;
}

.pic-image {
  margin-top: 1em;
  border-style:double;
  border-width: 5px;
}