:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container-nav {
  text-align: right;
  padding: 0.5em;
}

.navigation a {
  color: white;
}

.navigation a:hover {
  color:yellow;
}

.navigation-admin a {
  color:rgb(228, 145, 145);
}

.navigation-admin a:hover {
  color:red;
}

.login-form {
  width: 15%;
  margin:auto;
}

.form-group {
  text-align: left;
  width: 100%;
}

input {
  width: 100%;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.login-status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 20%;
  padding-left: 1rem;
  padding-right: 1rem;
  border-color: #1a1a1a;
  border-style: groove;
  border-radius: 1em;
}

.column {
  flex: 1;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .login-status {
        flex-direction: column; /* Stack columns on smaller screens */
    }
}

.buttons {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color:whitesmoke;
  background-color: blue;
  margin-top: 0.5rem;
}

.header {
  background-color: #535bf2;
  padding: 0.2em;
}

a {
  margin-left: 1rem;
  margin-right: 1rem;
  font-weight: 500;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: aliceblue;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
